body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-menu {
  display: flex;
}

.contacts-menu {
  display: flex;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

span {
  color: #2e2f42;
}

.header-logo:active {
  color: #404bbf;
}

.nav-link {
  display: inline-block;
  padding: 24px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.contacts-link {
  padding: 24px 24px 40px;
  color: #434455;
  font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.hero-image {
  background-color: #2e2f42;
}

.hero-image-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
}

.button-primary {
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.button-primary:hover,
.button-primary:focus {
  background: var(--OCEAN, #404bbf);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-one-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-one-text {
  font-weight: 400;
}

.section-two {
  background-color: #f4f4fd;
}

.section-two-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.hero-background {
  background-color: #ffffff;
}

.hero-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hero-text {
  font-size: 16px;
  font-weight: 400;
}

.section-three-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.section-three-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
}
